body {
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  
}

table {
  width: 70%;
  border-radius: 10px;
  background-color: #B0C4DE;
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead button {
  border: 50px;
  border-radius: 25% 10%;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 10px;
}

thead button.ascending::after {
  content: '👇';
  display:flex ;
  margin-left: 1em;
}

thead button.descending::after {
  content: '☝️';
  display: flex;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  
}

tbody tr:hover {
  background-color: #eee;
}

